@use "mixins";
@use "vars";
@use "components";

.change-photo {
  .toast {
    position: fixed;
    bottom: -80px;
    left: 0;
    z-index: 3;

    &.open {
        bottom: 0;
    }
  }
  form {
    align-items: center;
    margin-top: var(--space);
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    #file {
        display: none;
    }
    .choose-photo {
        margin: var(--space) 0;
        min-width: 176px;
        border: none;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        border-radius: var(--radius);
        background: var(--primary);
        color: var(--white);
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &.cropping {
        img {
            height: auto;
            border-radius: 0;
            margin-top: 0;
        }
    }
    
    .fixed {
        align-items: flex-start;
        padding-left: var(--space);
        width: 100%;
        button {
            margin: var(--space) 0;
            min-width: 176px;
            border: none;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            border-radius: var(--radius);
            background: var(--white);
            color: var(--primary);
            transition: opacity .2s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }
    }
  }
}

@media (min-width: 1200px) {
  .change-photo {
      form {
          img {
              width: 256px;
              height: 256px;
          }
      }
  }
}