.toast {
  position: relative;
  height: 80px;
  width: 100%;
  justify-content: center;
  padding: var(--space);
  border: 1px solid transparent;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 20px;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 32px;
    transition: .3s;
    color: var(--dark);
    min-width: 50px;
    height: 50px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: var(--black);
    }
  }
  &.success {
    color: var(--dark);
    border-color: var(--light);
    background-color: var(--light);
  }
  &.danger {
    color: var(--dark);
    border-color: var(--primary);
    background-color: var(--primary);
  }
}